.box{
  height: 100px;
  width: 100px;
  border: 1px solid black;
  cursor: pointer;
  margin: 2em;
}
.box:hover{
  opacity: 0.75;
}
#red{
  background-color: red;
  margin-left: 7em;
}
#blue{
  background-color: blue;
}
#green{
  background-color: green;
}
#yellow{
  background-color: yellow;
  margin-left: 7em;
}

body {
	background-color: black;
}

/********SIMON DESIGN*********/

#abs{
  content:url("/img/simon/abs.gif");
  max-width: 20%;
  max-height: auto;
  margin: auto;
  display: block;
  position: relative;
  bottom: 40em;
}

img{
  max-height: auto;
  max-width: 45%;
  margin: auto;
  display: block;
  background-color: white;  
}

div#head{
  content:url("/img/simon/simonHead.gif");
  position: relative;
  margin: auto;
  display: block;
  top: 41em;
  max-height: auto;
  max-width: 18%;
}

div#tattoo{
  content:url("/img/simon/simonTattoo.png");
  position: relative;
  margin: auto;
  display: block;
  top: 42em;
  max-width: 15%;
  max-height: auto;
}

div#tattoo:hover{
  content:url("/img/simon/simonTattooHover.png");
}

div#leftArm{
  content:url("/img/simon/leftArm.gif");
  position: relative;
  top:27em;
  left: 19em;
}

div#rightArm{
  content:url("/img/simon/rightArm.gif");
  position: relative;
  left: 46.5em;
  bottom: 27.5em;
}

body{
  background-color: papayawhip;
}

div#rightArm, div#leftArm {
  max-width: 20%;
  max-height: auto;
}

.bodyButtons:hover{
  opacity: 0.6;
}

